<template name="sidebar">
  <a class="logo" href="{{pathFor 'widgetsList'}}">call-message</a>

  <ul class="menu">
    <li><a href="{{pathFor 'widgetsList'}}">Виджеты</a></li>
    <li><a href="{{pathFor 'ordersList'}}">{{#if ordersCount}}<b>Заявки ({{ordersCount}})</b>{{else}}Заявки{{/if}}</a></li>
    <li><a href="{{pathFor 'subscription'}}">Подписки</a></li>
    <li><a href="{{pathFor 'billing'}}">Платежи</a></li>
    <li><a href="{{pathFor 'callback'}}">Поддержка</a></li>
    <li><a href="{{pathFor 'profile'}}">Профиль</a></li>
    {{#if isAdminUser}}
      <li><a href="{{pathFor 'admin'}}">Пользователи</a></li>
    {{/if}}
    <li><a href="{{pathFor 'profile'}}" class="logout">Выход</a></li>
  </ul>
</template>