body {
  padding: 0 5%;
  background: #fff;
}
.navbar {
  margin-top: 20px;
}
.auth {
  width: 600px;
  margin: 0 auto;
  padding: 50px;
  border: #eee 1px solid;
  border-radius: 4px;
  box-shadow: 0 0 10px #eee;
}
.nav-tabs {
  margin-bottom: 25px;
}
.form-auth input[type="text"],
.form-auth input[type="email"],
.form-auth input[type="password"],
.form-auth input[type="phone"],

.form-widget input[type="text"],
.form-widget input[type="email"],
.form-widget input[type="password"],
.form-widget input[type="phone"],
.form-widget input[type="url"],
.form-widget select {
  width: 100%;
  margin-bottom: 10px;
  padding: 7px 15px;
  background: #fff;
  border: #eee 1px solid;
}
.form-widget .widget-position {
  position: relative;
}
.form-widget .widget-position-item {
  width: 500px;
  height: 355px;
  position: absolute;
  left: 0;
  top: 0;
}
.form-widget .widget-position .item {
  position: absolute;
  opacity: .6;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.form-widget .widget-position .item:hover {
  opacity: 1;
}
.form-widget .widget-position .position-left {
  left: 70px;
}
.form-widget .widget-position .position-right {
  right: 70px;
}
.form-widget .widget-position .left-top,
.form-widget .widget-position .right-top {
  top: 35px;
}
.form-widget .widget-position .left-center,
.form-widget .widget-position .right-center {
  top: 112px;
}
.form-widget .widget-position .left-bottom,
.form-widget .widget-position .right-bottom {
  bottom: 125px;
}
.form-widget .widget-position .active {
  opacity: 1;
}
.form-widget .emails p {
  position: relative;
}
.form-widget .remove-email {
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: .7;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAACXBIWXMAAAsTAAALEwEAmpwYAAABNmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcXd7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIkjvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0oKdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8HwGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVahvAX34y/Axk/96FpPYgAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAAtUlEQVR42ozRoW7DMBAG4C+GHd2IDYqHi/sQGy4e7qMEDwfvJYaLyysd2nBpSqypypykh2xLn333u8s5b/ETEVcPVCllh3PCG46llM0DaI8PvCZ81vNFXNEBQ0ScUm2xX8IT9A0JlnALQTeO4/3NGxzrtseuhf7BCX7Ccwv9tXpfte1TRb91bRXWmd4x4DwXWFpKLyIGXFo4raWHr1baaQXNflWXc55FM2lDn7BdQ5OXr3i5DQA2p2e+vJgyVwAAAABJRU5ErkJggg==) center center no-repeat;
  cursor: pointer;
}
.form-widget .remove-email:hover {
  opacity: 1;
}
.widget-item {
  width: 100%;
  margin-bottom: 25px;
  padding-top: 20px;
  box-shadow: 0 0 10px #eee;
}
.widget-item ul {
  margin:  0 20px 25px;
  padding: 0;
  list-style: none;
  border: #eee 1px solid;
}
.widget-item li {
  padding: 10px 20px;
  border-top: #eee 1px solid;
}
.widget-item li:first-child {
  border-top: 0 none;
}
.widget-item .action {
  padding: 20px;
  border-top: #eee 1px solid;
}