<template name="ordersList">
  <div class="orders">
    <h1>Полученные заявки</h1>

    {{#if isOrders}}
      <div class="orders-sort">
        <span class="active">Все ({{ordersCount 'all'}})</span>
        <span>Прочитанные ({{ordersCount 'read'}})</span>
        <span>Новые ({{ordersCount 'new'}})</span>
      </div>

      <table class="table-orders">
        <thead>
          <tr>
            <th>Id</th>
            <th>Тип</th>
            <th>Источник</th>
            <th>Дата</th>
            <th>Статус</th>
            <th>Подробнее</th>
          </tr>
        </thead>
        <tbody>
          {{#each orders}}
            {{> orderItem}}
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <p>У Вас еще не ни одной заявки</p>
    {{/if}}
  </div>
</template>