<template name="callback">
  <h2>Написать нам</h2>

  <form class="form">
    <div>
      <label for="name">Имя</label>
      <input name="name" id="name" type="text" placeholder="Ваше имя">
    </div>
    <div>
      <label for="email">E-mail</label>
      <input name="email" type="email" placeholder="Ваш e-mail">
    </div>
    <div>
      <label for="message">Сообщение</label>
      <textarea name="message" id="message" placeholder="Ваше сообщение"></textarea>
    </div>

    <input type="submit" value="Отправить" class="btn btn-primary">
  </form>
</template>