<template name="subscription">
	<h2>Оформить подписку</h2>

	<form class="form form-subscribe subscribe" method="post" action="https://wl.walletone.com/checkout/checkout/Index" accept-charset="UTF-8">
		<h3>СМС-Рассылка:</h3>
		<div>
			<select class="widget-list" id="subscribeWidget">
				{{{widgetsList}}}
			</select>
		</div>
		<div>
			<span class="sms-button sms-remove">-</span><input class="sms-count" type="text" placeholder="Количество СМС" value="10" disabled><span class="sms-button sms-add">+</span>
		</div>
		<div>
			<h3 class="payment-amount">К оплате: {{getPaymentAmount}} руб.</h3>
		</div>

		{{{getFields}}}

		{{{getSignature}}}

		<input class="button" type="submit" value="Оплатить">
  </form>


  
</template>