<template name="subscription">
  <h2>Оформить подписку</h2>

  <form class="form">
    <div>
      <select name="widget" id="">
      	<option value="1">Tricolor</option>
      	<option value="1">Tehmontaj</option>
      </select>
    </div>
    <div>
      <input class="required" name="number-months" type="number" placeholder="Количество месяцев" min="1" max="60">
    </div>
    <div>
      <h4>Сумма: 300 руб.</h4>
    </div>

    <input class="button" type="submit" value="Отправить">
  </form>
</template>