<template name="widgetsList">
  <div class="widgets">
    <a class="pull-right button" href="{{pathFor 'widgetAdd'}}">Добавить виджет</a>

    <h1>Ваши виджеты</h1>

    <div class="info">
      <ol>
        <li>1. Созданные виджеты автоматически предоставляются на 6 месяцев бесплатно</li>
        <li>2. Статус виджета отображается в правом верхнем углу блока виджета</li>
        <li>3. Для корректной работы необходимо настроить виджет</li>
      </ol>
    </div>

    <div class="widgets-list">
      {{#each widgets}}
        {{> widgetItem}}
      {{else}}
        <h2>Вы еще не добавили ни одного виджета</h2>
      {{/each}}
    </div>
  </div>
</template>