<template name="widgetAdd">
  <h1>Добавление виджета</h1>

  <form class="form form-widget">
    <!--<div class="item">
      <p class="title">Тип виджета</p>
      <select id="type" name="type">
        <option value="callback">Обратный звонок</option>
        <option value="chat" disabled>Чат</option>
      </select>
    </div>-->
    <div class="item">
      <p class="title">Имя виджета</p>
      <input name="name" type="text" placeholder="Имя виджета">
    </div>
    <div class="item">
      <p class="title">URL вашего сайта <span>(с которого будут приходить уведомления)</span></p>
      <input class="url" name="url" type="text" placeholder="URL вашего сайта">
    </div>
    <div class="item emails">
      <p class="title">E-mail <span>(на который будут приходить уведомления)</span></p>

      <p class="email-item"><input name="emails[]" class="email" type="text" placeholder="E-mail"></p>

      <a class="link email-add" href="#">Добавить email</a>
    </div>

    <input class="button" type="submit" value="Сохранить">
  </form>
</template>