<template name="widgetEdit">
  <h1>Редактирование виджета</h1>

  <form class="form form-widget">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#widget-edit-step1" aria-controls="widget-edit-step1" role="tab" data-toggle="tab">Основные</a></li>
      <li role="presentation"><a href="#widget-edit-step2" aria-controls="widget-edit-step2" role="tab" data-toggle="tab">Отдел продаж</a></li>
      <li role="presentation"><a href="#widget-edit-step3" aria-controls="widget-edit-step3" role="tab" data-toggle="tab">Внешний вид</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="widget-edit-step1">
        {{>widgetEditStep1}}
      </div>
      <div role="tabpanel" class="tab-pane" id="widget-edit-step2">
        {{>widgetEditStep2}}
      </div>
      <div role="tabpanel" class="tab-pane" id="widget-edit-step3">
        {{>widgetEditStep3}}
      </div>
    </div>

    <input class="button" type="submit" value="Сохранить">
  </form>
</template>