<template name="login">
  {{#if resetPassword}}
    <form class="form form-auth form-auth-new-pass">
      <div class="item">
        <input type="password" name="new-password" placeholder="Новый пароль">
      </div>

      <input type="submit" value="Изменить пароль">
    </form>
  {{else}}
	  <form class="form form-auth form-auth-login">
	    <div class="item">
	      <input type="text" name="email" placeholder="Email">
	    </div>

	    <div class="item">
	      <input type="password" name="login-password" placeholder="Ваш пароль">
	    </div>

	    <input class="button" type="submit" value="Войти">

          <hr>

          <a class="forgot-password-link" href="#">Забыли пароль?</a>
	  </form>
  {{/if}}
</template>
