<template name="registration">
  <form class="form form-auth">
    <div>
      <label for="username">Логин</label>
      <input id="username" type="text" name="username" required>
    </div>
    <div>
      <label for="email">E-mail</label>
      <input id="email" type="email" name="email" required>
    </div>
    <div>
      <label for="password">Пароль</label>
      <input id="password" type="password" name="password" required>
    </div>
    <input type="submit" id="register-button" class="btn btn-default" value="Зарегистрироваться">
  </form>
</template>
