<template name="profileShow">
  <div>
    {{#if currentUser}}
      <table class="table">
          <tr>
            <td><b>Логин</b>: {{username}}</td>
          </tr>
          <tr>
            <td><b>Email</b>: {{email}}</td>
          </tr>
          {{#if name}}
            <tr>
              <td><b>Имя</b>: {{name}}</td>
            </tr>
          {{/if}}
          {{#if phone}}
            <tr>
              <td><b>Телефон</b>: {{phone}}</td>
            </tr>
          {{/if}}
          <tr>
            <td><b>Дата регистрации</b>: {{date}} {{time}}</td>
          </tr>
      </table>
    {{/if}}
  </div>
</template>