<template name="profile">
  <div class="profile">
    <h1>Ваш профиль</h1>

    <ul class="profile-list">
      <li><span>Email:</span> {{email}}</li>
      <li><span>Дата регистрации:</span> {{date}} в {{time}}</li>
    </ul>
    <br><br>
    <form class="form form-auth">
      <div class="item">
        <input type="password" name="old-password" placeholder="Старый пароль">
      </div>

      <div class="item">
        <input id="password" type="password" name="password" placeholder="Новый пароль">
      </div>

      <input class="button" type="submit" id="change-password-button" value="Сохранить">
    </form>
  </div>
</template>